.input {
  background: none;
  padding: 5px 0 7px;
  border: 1px solid transparent;
  transition: 0.4s;
  width: 70%;
}

.input:focus {
  background: linear-gradient(
    85deg,
    rgba(247, 149, 51, 0.4),
    rgba(243, 112, 85, 0.4),
    rgba(239, 78, 123, 0.4),
    rgba(161, 102, 171, 0.4),
    rgba(80, 115, 184, 0.4),
    rgba(16, 152, 173, 0.4),
    rgba(7, 179, 155, 0.4),
    rgba(111, 186, 130, 0.4)
  );
  color: azure;
  padding: 5px 14px 7px;
  transition: 1s;
}
